<section class="footer">
  <div class="texto item">
    <p class="texto">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a justo
      nec tortor tempus molestie. Orci varius natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus.
    </p>
  </div>
  <div class="item">
    <div class="dropup">
      <button class="dropbtn">Sub Menu</button>
      <div class="dropup-content">
        <a href="#">Sub Menu 1</a>
        <a href="#">Sub Menu 2</a>
        <a href="#">Sub Menu 3</a>
      </div>
    </div>
  </div>
</section>
