<nav>
    <div class="wrapper">
      <div class="logo"><a href="#">LOGO</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li>
          <a href="#" class="desktop-item">Menu1</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Menu1</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <header>Menu1</header>
                <ul class="mega-links">
                  <li><a href="#">Menu1</a></li>
                  <li><a href="#">Menu1s</a></li>
                  <li><a href="#">Menu1</a></li>
                  <li><a href="#">Menu1</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Menu1</header>
                <ul class="mega-links">
                  <li><a href="#">Menu1</a></li>
                  <li><a href="#">Menu1s</a></li>
                  <li><a href="#">Menu1</a></li>
                  <li><a href="#">Menu1</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Menu1</header>
                <ul class="mega-links">
                  <li><a href="#">Menu1</a></li>
                  <li><a href="#">Menu1l</a></li>
                  <li><a href="#">Menu1</a></li>
                  <li><a href="#">Menu1</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Menu1</header>
                <ul class="mega-links">
                  <li><a href="#">Menu1</a></li>
                  <li><a href="#">Menu1</a></li>
                  <li><a href="#">Menu1</a></li>
                  <li><a href="#">Menu1</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#">Menu1</a></li>
        <li><a href="#">Menu1t</a></li>
        <li>
          <a href="#" class="desktop-item">Menu1</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Menu1</label>
          <ul class="drop-menu">
            <li><a href="#">Menu1</a></li>
            <li><a href="#">Menu1</a></li>
            <li><a href="#">Menu1</a></li>
            <li><a href="#">Menu1</a></li>
          </ul>
        </li>

        <li><a href="#">Menu1</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>